	

  
div.fp-cat {
   
   height: 18px;
   width: 767px;
}
  
  


  
  
  

  
  
  



#marquee
{
 margin:0px 0px; 
 padding:0px;
 margin-top: 0px; 
 margin-bottom:0px;
 margin-left: 480px;
}






#ggp
{
 margin:0px 0px; 
 padding:0px;
 margin-top: 84px; 
 margin-bottom: -170px;
 margin-left: 332px;
}


#cp
{
 margin:0px 0px; 
 padding:0px;
 margin-top: 34px; 
 margin-bottom: -170px;
 margin-left: 422px;
}



#why
{


 margin-top: -24px; 
 margin-bottom: 0px;
 margin-left: 600px;

}





